<div class="containar">
  <div class="row">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
    <h2 class="text-dark bg-light p-4 mb-0"><%= "#{t('contact.new.contact_check')}" %></h2>

    <table>
      <tbody>
        <tr>
          <td class="text-center" style="width: 30%;"><%= "#{t('contact.new.name')}" %></td>
          <td><%= @contact.name %></td>
        </tr>
          <tr>
          <td class="text-center"><%= "#{t('contact.new.email')}" %></td>
          <td style="white-space: pre-wrap;"><%= @contact.email %></td>
        </tr>
          <tr>
          <td class="text-center"><%= "#{t('contact.new.subject')}" %></td>
          <td style="white-space: pre-wrap;"><%= @contact.subject %></td>
        </tr>
        <tr>
          <td class="text-center"><%= "#{t('contact.new.message')}" %></td>
          <td style="white-space: pre-wrap;"><%= @contact.message %></td>
        </tr>
      </tbody>
    </table>

    <%= form_for(@contact) do |f| %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :email %>
      <%= f.hidden_field :phone_number %>
      <%= f.hidden_field :subject %>
      <%= f.hidden_field :message %>
      <div><%= f.submit "#{t('dictionary.button.create')}" %></div>
    <% end %>
    <%= form_for @contact, url: back_path do |f| %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :email %>
      <%= f.hidden_field :phone_number %>
      <%= f.hidden_field :subject %>
      <%= f.hidden_field :message %>
      <div><%= f.submit "#{t('dictionary.button.back')}" %></div>
    <% end %>
    </div>
  </div>
</div>