 <% if @post.errors.any? %>
  <%= @post.errors.count %>errors prohibited this obj from being saved::
  <% @post.errors.full_messages.each do |message| %>
   <%= message %>
  <% end %>
 <% end %>

<div class="container">
  <div class="row">
   <div class="col-sm-12 col-md-offset-5 col-md-7 col-lg-5 px-5 px-sm-0 mx-auto">
    <h1>LifeHack <%= t('dictionary.button.edit') %></h1>
    <%= form_with model:@post,url:"/posts/#{@post.id}", local:true do |f| %>

    <p>LifeHack <%= Post.human_attribute_name(:title) %></p>
    <%= f.text_field :title, :size=>"60×60" %>

    <p>LifeHack <%= Post.human_attribute_name(:post_detail) %></p>
    <%= f.text_area :post_detail, size:"100×200", class: "form-control" %>
    <p>LifeHack <%= Post.human_attribute_name(:genre_id) %></p>
    <%= f.collection_select(:genre_id, Genre.all, :id, :genre_name, {prompt: "==選択してください=="} ) %></p>
    <p>
    <%= f.submit "#{t('dictionary.button.edit')}", class: "btn btn-success"  %>
    </p>
    <% end %>

    <%= link_to "#{t('dictionary.button.show')}", post_path(@post.id) %>
    <%= link_to "#{t('dictionary.button.back')}", posts_path %>
   </div>
  </div>
 </div>
