 <% if @post.errors.any? %>
  <%= @post.errors.count %>errors prohibited this obj from being saved::
  <% @post.errors.full_messages.each do |message| %>
   <%= message %>
  <% end %>
 <% end %>

<div class="container">
  <div class="row">
   <div class="col-sm-12 col-md-offset-5 col-md-7 col-lg-5 px-5 px-sm-0 mx-auto">
    <h1>LifeHack edit</h1>
    <%= form_with model:@post,url:"/posts/#{@post.id}", local:true do |f| %>
    <p>LifeHack title</p>
    <%= f.text_field :title %>
    <p>LifeHack 内容</p>
    <%= f.text_field :post_detail %>

    <p>
    <%= f.submit "edit", class: "btn btn-success"  %>
    </p>
    <% end %>

    <%= link_to "show", post_path(@post.id) %>
    <%= link_to "back", posts_path %>
   </div>
  </div>
 </div>
