<div class="container px-5 px-sm-0">
  <div class="row">
    <div class='col-md-2'>
      <%= render 'search', genre: @genres %>
    </div>
    <div class="col-md-9 offset-md-1">
      <h2>Post detail</h2>
      <table class="table table-hover table-inverse">
        <tbody>
          <tr></tr>
            <p><%= link_to post_user_path(@user.id) do %>
              <%= image_tag('no_image.jpg') %>
              <%= @post.post_user.nickname %>
              <% end %>
            </p>
            <p>【<%= Post.human_attribute_name(:title) %>】<%= @post.title %></p>
            <p>【<%= Post.human_attribute_name(:post_detail) %>】<%= @post.post_detail %></p>
            <p>
              <% if @post.bookmarked_by?(current_post_user) %>
                <p><%= link_to t('posts.show.unbookmark'), post_bookmarks_path(@post), method: :delete %></p>
              <% else %>
                <p><%= link_to t('posts.show.bookmark'), post_bookmarks_path(@post), method: :post %></p>
              <% end %>
            </p>
            <p><% if @user.id == current_post_user.id %>
              <%= link_to "#{t('dictionary.button.edit')}", edit_post_path(@post.id), class:"btn btn-success" %>
              <%= link_to t('dictionary.button.destroy'), post_path(@post.id), method: :delete, "data-confirm" => t('dictionary.message.destroy.confirm'),class:"btn btn-success destroy(@post.id)" %>
              <% end %>
              </p>
            <p id="post_<%= (@post.id) %>"><%= render partial: 'public/favorites/favorite-btn', locals: { post:@post } %></p>
            <p>コメント数：<%= @post.post_comments.count %></p>
            </tr>
        </tbody>
      </table>
      <table>
        <tbody class="post_<%= (@post.id) %>"><%= render partial: 'public/post_comments/comment-index', locals: { post:@post } %></tbody>
      </table>
      <div class="new-comment">
        <%= form_with(model:[@post, @post_comment]) do |f| %>
          <%= f.text_area :comment, rows:'5' %>
          <%= f.submit t('posts.show.post') %>
        <% end %>
      </div>
    </div>
  </div>
</div>