<div class="container">
  <div class="row">
   <div class="col-sm-12 col-md-offset-5 col-md-7 col-lg-5 px-5 px-sm-0 mx-auto">
    <h1><%= t('post_user.edit.user_edit') %></h1>

    <%= form_with model:@post_user, local:true do |f| %>

    <div class="form-group">
     <p><%= PostUser.human_attribute_name(:nickname) %></p>
     <%= f.text_field :nickname, class: "form-control" %>
    </div>

    <div class="form-group">
     <p><%= t('post_users.edit.image') %></p>
     <%= f.attachment_field :image, class: "form-control" %>
    </div>

    <div class="form-group">
     <p><%= t('post_user.edit.introduction') %></p>
     <%= f.text_field :introduction, class: "form-control" %>
    </div>

    <p>
    <%= f.submit "#{t('dictionary.button.update')}",class: "btn btn-success"  %>
    </p>
    <% end %>

    <%= link_to "#{t('dictionary.button.back')}", post_users_my_page_path(current_post_user) %>

   </div>
  </div>
 </div>
