<div class="container px-5 px-sm-0">
  <div class="row">

    <div class="col-md-8 offset-md-1">
      <p><%= attachment_image_tag(@post_user, :image, :fill, 100, 100, fallback: "no_image.jpg") %><br>
        【<%= PostUser.human_attribute_name(:nickname) %>】<%= @post_user.nickname %></p>
      <p>【<%= PostUser.human_attribute_name(:introduction) %>】<%= @post_user.introduction %></p>
      <p><%= link_to "#{t('dictionary.button.edit')}", edit_post_user_path(@post_user), class: "btn btn-sm btn-success edit_post_user_#{@post_user.id}" %></p>

      <h2>Post LifeHacks</h2>
      <table class="table table-hover table-inverse">
        <tbody>
          <% @posts.each do |post| %>
  		    <tr>
            <td><%= link_to post.title, post_path(post) %></td>
            <td><% if @post_user.id == current_post_user.id %>
              <td><%= link_to "#{t('dictionary.button.edit')}", edit_post_path(post), class: "btn btn-sm btn-success edit_post_#{post.id}" %></td>
              <% end %>
            </td>
            <td><% if @post_user.id == current_post_user.id %>
              <%= link_to "#{t('dictionary.button.destroy')}", post_path(post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy(post.id)" %>
              <% end %>
            </td>
            <td>コメント数：<%= post.post_comments.count %></td>
          </tr>
          <% end %>
          <%= paginate @posts %>
        </tbody>
      </table>

      <h2>User Bookmark</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th><%= PostUser.human_attribute_name(:nickname) %></th>
            <th><%= "#{t('post_users.show.title')}" %></th>
          </tr>
        </thead>
        <tbody>
          <% @bookmarks.each do |bookmark| %>
            <tr>
              <td><%= bookmark.post.post_user.nickname %></td>
              <td>
                <%= link_to post_path(bookmark.post) do %>
                  <%= bookmark.post.title %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>