  <header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark mt-3 mb-3">
    <div class="container">
      <a class="navbar-brand" href="/"><span>The/LifeHackers</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      </button>
      <% if admin_signed_in? %>
      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav ml-auto">
          <li class="nav-post active">
            <%= link_to '  lifehack', admin_posts_path,class: 'nav-link text-light' %>
          </li>
          <li class="nav-post">
            <%= link_to '  users',admin_post_users_path,class: 'nav-link text-light' %>
          </li>
                <li class="nav-post">
            <%= link_to '  genres', admin_genres_path, class: 'nav-link text-light' %>
          </li>
          <li class="nav-post">
            <%= link_to '  logout', destroy_admin_session_path, method: :delete, class: 'nav-link text-light' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="bg-warning">
      <div class="container">
        <div class="navbar-nav ml-auto">
            <% elsif post_user_signed_in? %>
              <div class="collapse navbar-collapse text-white" id="navbarsExample02">
                <%= "ようこそ、 " + post_user.nickname + "さん!" %>
                <ul class="navbar-nav ml-auto text-white" >
                  <li class="nav-post">
                    <%= link_to '  mypage', post_users_my_page_path, class: 'text-white' %>
                  </li>
                  <li class="nav-post">
                    <%= link_to '  lifehack', posts_path, class: 'text-white' %>
                  </li>
                  <li class="nav-post">
                    <%= link_to "  logout", destroy_post_user_session_path, method: :delete, class: 'text-white' %>
                  </li>
                </ul>
              </div>
            <% else %>
              <div class="collapse navbar-collapse" id="navbarsExample02">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-post"><%= link_to ' about', about_path, class: 'text-white' %></li>
                  <li class="nav-post"><%= link_to ' lifeHack', posts_path , class: 'text-white' %></li>
                  <li class="nav-post"><%= link_to ' signup', new_post_user_registration_path, class: 'text-white' %></li>
                  <li class="nav-post"><%= link_to ' login', new_post_user_session_path, class: 'text-white' %></li>
                </ul>
              </div>
            <% end %>
        </div>
      </div>
    </nav>
</header>


