<header>
  <nav class="navbar navbar-expand navbar-dark ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <% if admin_signed_in? %>
  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-post active">
        <%= link_to ' 投稿一覧', admin_posts_path,class: 'nav-link text-light' %>
      </li>
      <li class="nav-post">
        <!-- <a class="nav-link" href="#">Link</a> -->
        <%= link_to '会員一覧',admin_post_users_path,class: 'nav-link text-light' %>
      </li>
            <li class="nav-post">
        <!-- <a class="nav-link" href="#">Link</a> -->
        <%= link_to 'ジャンル一覧', admin_genres_path, class: 'nav-link text-light' %>
      </li>
            <li class="nav-post">
        <!-- <a class="nav-link" href="#">Link</a> -->
        <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link text-light' %>
      </li>
    </ul>
  </div>
</nav>
    <nav class="bg-warning">
      <div class="container">
        <div class="navbar-nav mr-auto">
            <% elsif post_user_signed_in? %>
              <div class="collapse navbar-collapse text-white" id="navbarsExample02">
                <%= "ようこそ、 " + post_user.nickname + "さん!" %>
                <ul class="navbar-nav mr-auto text-white" >
                  <li class="nav-post">
                    <%= link_to ' My Page', post_users_my_page_path, class: 'text-white' %>
                  </li>
                  <li class="nav-post">
                    <%= link_to ' LifeHack', posts_path, class: 'text-white' %>
                  </li>
                  <li class="nav-post">
                    <%= link_to ' ジャンル', cart_posts_path, class: 'text-white' %>
                  </li>
                  <li class="nav-post">
                    <%= link_to " Log Out", destroy_post_user_session_path, method: :delete, class: 'text-white' %>
                  </li>
                </ul>
              </div>
              <div class "row">
                  <form class="form-inline my-2 my-md-0">
                    <input class="form-control" type="text" placeholder="検索">
                  </form>
              </div>
            <% else %>
              <div class="collapse navbar-collapse" id="navbarsExample02">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-post"><%= link_to ' About', about_path, class: 'text-white' %></li>
                  <li class="nav-post"><%= link_to ' LifeHack', posts_path , class: 'text-white' %></li>
                  <li class="nav-post"><%= link_to ' Sign Up', new_post_user_registration_path, class: 'text-white' %></li>
                  <li class="nav-post"><%= link_to ' Log In', new_post_user_session_path, class: 'text-white' %></li>
                </ul>
              </div>
            <% end %>
        </div>
      </div>
    </nav>
</header>


