<!DOCTYPE html>
<html>
  <head>
    <title>LifeHackers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <%= render 'layouts/header', { post_user: current_post_user} %>
    </header>
        <%= yield %>
    <footer><%= render 'layouts/footer', { post_user: current_post_user} %></footer>
  </body>
</html>